/*Imagens*/

.imagem-destaque {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.imagem-destaque.chopp {
    background-image: url('/assets/img/chopp.jpg');
}

.imagem-destaque.porcao {
    background-image: url('/assets/img/bolinho.jpg');
}

.imagem-destaque.dose {
    background-image: url('/assets/img/whisky.jpg');
}
