/* Carrossel */
.carrossel {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.carrossel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carrossel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carrossel-slide.active {
    opacity: 1;
}

.imagem-carrossel {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url('/assets/img/img1.jpg');
}

.slide2 {
    background-image: url('/assets/img/img2.jpg');
}

.slide3 {
    background-image: url('/assets/img/img3.jpg');
}

.carrossel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #f2c94c;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s;
    z-index: 10;
}

.carrossel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carrossel-btn.prev {
    left: 10px;
}

.carrossel-btn.next {
    right: 10px;
}



/* Ajuste para mobile */
@media (max-width: 768px) {
    .carrossel {
        width: 100%;
        height: 300px;
    }
    
    .carrossel-btn {
        padding: 10px;
        font-size: 1.2rem;
    }
}